<!--
    Written by: Gustav Carlsen
    Html page for viewing stored temperature and alarm logs in a connected database.
    Database path may be set in the Log Controller class.
-->
@{
    ViewBag.Title = "Logg";
}

<h1>Logg</h1>
<form action='@Url.Action("GetLogg","Log")' method='post'>
    <p>Hent verdier:</p>
    <input type="number" name="input" value="@Model.input" min="1"/>                                       
    <select name="unit">
        <option value="entity" @Model.unit.entity>Celler</option>
        <option value="day" @Model.unit.day>Dager</option>
        <option value="month" @Model.unit.month>Måneder</option>
    </select>
    <br />
    <input type="submit" value="Hent">
    <br />
    <input type="radio" name="type" value="Temperature" @Model.type.temperature>Temperatur                       
    <br />
    <input type="radio" name="type" value="Alarm" @Model.type.alarm>Alarm
    <br />
</form>
<div id="text">
    @Html.Raw(Model.data)
</div>